{
  "applications": {
    "my-go-app": {
      "executable": "/tmp/app-u.go",
      "type": "go",
      "user": "nobody"
    },
    "my-go-app-v1-green": {
      "executable": "/tmp/app-v1-green-u.go",
      "type": "go",
      "user": "nobody"
    },
    "my-go-app-v1-blue": {
      "executable": "/tmp/app-v2-blue-u.go",
      "type": "go",
      "user": "nobody"
    }
  },
  "listeners": {
    "*:8500": {
      "application": "my-go-app"
    },
    "*:8600": {
      "application": "my-go-app-v1-green"
    },
    "*:8700": {
      "application": "my-go-app-v1-blue"
    }
  }
}